<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeTests">
    <test name="ChromeSmokeTest">
        <parameter name="environment" value="chrome"/>
        <classes>
            <class name="com.hulimova.AuthorizationTest"/>
            <class name="com.hulimova.ManagerFunctionalityTest"/>
        </classes>
    </test>
<!--    <test name="FirefoxSmokeTest">-->
<!--        <parameter name="environment" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="com.hulimova.AuthorizationTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>